.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 75%;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #F4ECD7;
}

.full-body-container-2 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 75%;
    height: 100vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #F4ECD7;
}

body {
    background: url("/static/images/office.jpg") no-repeat center center fixed;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
    background-position: left top, right top; 
    background-size: cover; 
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

#google-1 {
    color: #515151;
}

#google-2 {
    color: #8A6E43;
}

#google-3 {
    color: #CFB286;
}

#google-4 {
    color: #000000;
}

#google-5 {
    color: #999999;
}

.google-colors {
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
}

.google-colors h1 {
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box {
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 12px;
    width: 600px;
}

.input-box img {
    height: 20px;
    width: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
    background-color: #F4ECD7;
}
.input-box input[type="text"] {
    width: 100%;
    padding-left: 40px; 
    border: none;
    outline: none; 
}
#answer-box {
    width: 700px;
    margin-top: 50px;
}

.book-title {
    font-family: 'Kanit', sans-serif;
}

.book-description {
    font-family: 'Montserrat', sans-serif;
}


.recommendation-container {
    position: relative; 
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 3.5fr 3.5fr 1fr 1fr;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 10px;
    text-align: center;
    background-color: #F4ECD7;
}


.book-details {
    width: 100%;
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.book-image {
    grid-column: 4 / 5;
    width: 100%;
    max-width: 100px;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.autocom-box, .autocom-box ul, .autocom-box ul li {
    background-color: #F4ECD7;
    margin: 0;
    padding: 0; 
    border: none; 
}

.autocom-box ul li {
    width: 100%; 
    list-style-type: none; 
    padding: 10px; 
    margin-bottom: 5px; 
    border-bottom: 1px solid #ddd; 
}

.autocom-box ul {
    list-style-type: none; 
}

.autocom-box-2 {
    width: 100%; 
}
  