<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <h1 id="google-4">B</h1>
                <h1 id="google-3">O</h1>
                <h1 id="google-0-1">O</h1>
                <h1 id="google-0-2">K</h1>
                <h1 id="google-4">H</h1>
                <h1 id="google-3">U</h1>
                <h1 id="google-0-1">B</h1>

            </div>
            <div class="input-box" >
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <i class="fas fa-search"></i>
                <!-- adapted from https://dev.to/codingnepal/search-bar-with-autocomplete-search-suggestions-in-javascript-32dn -->
                <div class="wrapper">
                  <div class="search-input">
                    <a href="" target="_blank" hidden></a>
                    <input id="" type="text" placeholder="Search for your next read..."  />
                    <div class="autocom-box">
                      <!-- here list is inserted from JavaScript -->
                    </div>
                  </div>
                </div>
              </div>
        </div>

        <div id="answer-box">

        </div>
    </div>

    <script src="../static/books_titles.js"></script>
    <script> 
        const searchWrapper = document.querySelector('.search-input');
        //console.log(searchWrapper);
        const inputBox = searchWrapper.querySelector('input');
        const suggBox = searchWrapper.querySelector('.autocom-box');
        const icon = document.getElementsByClassName('fa-search');
        
        //console.log("Here" , icon)

        let webLink;

        document.addEventListener('keydown', (e) => {
        if (e.key === 'Enter') {
            searchWrapper.classList.remove('active');
            query();
            document.activeElement.blur();
            return;
        }
        });

        // search icon onclick
        icon.onclick = () => {
        searchWrapper.classList.remove('active');
        query();
        return;
        };

        // if user presses any key and releases
        inputBox.onkeyup = (e) => {
        let userData = e.target.value; // user entered data

        let emptyArray = [];
        if (userData) {
            emptyArray = titles.filter((data) => {
            // filtering array value and user characters to lowercase and return only those words which start with the user entered characters
            return data.toLowerCase().startsWith(userData.toLowerCase());
            });
            emptyArray = emptyArray.map((data) => {
            // passing return data inside li tag
            return `<li>${data}</li>`;
            });
            searchWrapper.classList.add('active'); // show autocomplete box
            showSuggestions(emptyArray);
            let allList = suggBox.querySelectorAll('li');
            for (let i = 0; i < allList.length; i++) {
            // adding onclick attribute in all li tags
            allList[i].setAttribute('onclick', 'select(this)');
            }
        } else {
            searchWrapper.classList.remove('active'); // hide autocomplete box
        }
        };
  
        function select(element) {
            //console.log(element.textContent)
        let selectData = element.textContent;
        inputBox.value = selectData;
        query()
        searchWrapper.classList.remove('active');
        inputBox.focus();
        }

        function showSuggestions(list) {
        
        let listData;
        if (!list.length) {
            userValue = inputBox.value;
            listData = `<li>${userValue}</li>`;
        } else {
            listData = list.join('');
        }
        suggBox.innerHTML = listData;
        }

        inputBox.addEventListener('focusout', (e) =>
        setTimeout(() => searchWrapper.classList.remove('active'), 200)
        );

        function answerBoxTemplate(title, author, categories, description, score) {
            return `
            <div class='recommendation-container'>
                <h3 class='book-title'>${title}</h3>
                <p class='book-author'>${author}</p>
                <p class='book-categories'>${categories}</p>
                <p class='book-description'>${description}</p>
                <p class='book-review-score'>Review Score: ${score}</p>
            </div>`;
        }

        function sendFocus() {
            document.getElementsByClassName('input-box').focus()
        }

        function query() {
            searchWrapper.classList.remove('active');
            //console.log('Querying...');

            let searchParams = new URLSearchParams();
            searchParams.append('title', inputBox.value);

            // let searchText = document.getElementsByClassName("search-input").value.trim();
            let searchText = inputBox.value.trim();
            suggBox.innerHTML = "";

            //console.log(searchText)
            if (searchText !== "") {
                fetch("/books?" + new URLSearchParams({ title: searchText }).toString())
                    .then((response) => response.json())
                    .then((data) => {
                        let output_div = document.getElementById("answer-box")
                        //console.log(data)
                        document.getElementById("answer-box").innerHTML = "";
                        data.slice(0, 5).forEach(row => {
                            let tempDiv = document.createElement("div");
                            tempDiv.innerHTML = answerBoxTemplate(row.Title, row.descript, row.review_score);
                            document.getElementById("answer-box").appendChild(tempDiv);
                        });
                    });
            }
            };
    </script>
</body>
</html>
